<a href="https://colab.research.google.com/github/DoraSzasz/COVID-19/blob/master/1_Epidemics_Mathematical_Models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The SIR Model

## References

*  https://mathworld.wolfram.com/SIRModel.html
*  https://mathworld.wolfram.com/Kermack-McKendrickModel.html
*  https://youtu.be/gxAaO2rsdIs

## Definitions

*  S = Susceptibles
*  I = Infected
*  R = Recovered (Removed)

In [0]:
import pandas as pd

In [0]:
S = 1000000
I = 1
R = 0

initial_conditions = { 'S' : [S], 'I' : [I], 'R': [R]}

B = 0.0001   #  Infection Rate
L = 0.4      #  Recovery Rate

df = pd.DataFrame(data=initial_conditions)

In [0]:
for i in range(0,10):

  new_infections = B * I * S
  new_recoveries = L * I

  dS = - new_infections
  dI =   new_infections - new_recoveries
  dR =                    new_recoveries

  print('New infections {} New Recoveries {}'.format(new_infections,new_recoveries))
  
  S = S + dS
  I = I + dI
  R = R + dR

  new_state = pd.Series([S, I, R], index=df.columns, name=i)
  df.append(new_state)
  print(new_state)

New infections 100.0 New Recoveries 0.4
S    999900.0
I       100.6
R         0.4
Name: 0, dtype: float64
New infections 10058.993999999999 New Recoveries 40.24
S    989841.006
I     10119.354
R        40.640
Name: 1, dtype: float64
New infections 1001655.1543430125 New Recoveries 4047.7416
S   -1.181415e+04
I    1.007727e+06
R    4.088382e+03
Name: 2, dtype: float64
New infections -1190543.3511526242 New Recoveries 403090.7066972051
S    1.178729e+06
I   -5.859073e+05
R    4.071791e+05
Name: 3, dtype: float64
New infections -69062603.41666773 New Recoveries -234362.9164427267
S    7.024133e+07
I   -6.941415e+07
R    1.728162e+05
Name: 4, dtype: float64
New infections -487574224350.8498 New Recoveries -27765659.11653273
S    4.876445e+11
I   -4.876159e+11
R   -2.759284e+07
Name: 5, dtype: float64
New infections -2.3778318176960848e+19 New Recoveries -195046349135.80984
S    2.377832e+19
I   -2.377832e+19
R   -1.950739e+11
Name: 6, dtype: float64
New infections -5.654084338769633e+34 New Recoveries -9.51132738781215e+18
S    5.654084e+34
I   -5.654084e+34
R   -9.511328e+18
Name: 7, dtype: float64
New infections -3.1968669709920066e+65 New Recoveries -2.261633735507854e+34
S    3.196867e+65
I   -3.196867e+65
R   -2.261634e+34
Name: 8, dtype: float64
New infections -1.0219958430219608e+127 New Recoveries -1.2787467883968028e+65
S    1.021996e+127
I   -1.021996e+127
R    -1.278747e+65
Name: 9, dtype: float64

In [0]:
new_state.name

9

In [0]:
df

         S  I  R
0  1000000  1  0